nose2==0.9.2
six==1.15.0
pandas==1.0.3
requests==2.23.0
python-multipart==0.0.5
pydantic==1.6.1
xlrd==1.2.0
uvicorn==0.11.8
fastapi==0.61.0
# Uncomment the next line to use the current development version from Github
git+git://github.com/OFBDABV/SBTi@DEV_fastapi
# SBTi
